body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  font-family: 'Geometria', sans-serif;
}

.header .firstRow {
  display: flex;
  height: 48px;
  padding: 0 240px;
  align-items: center;
  justify-content: space-between;
  background-color: #63686E;
}

.logo {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  font-family: 'Geometria', sans-serif;
}

.searchTabs {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.searchTabs .tab {
  height: 40px;
  padding: 0 20px;
  margin-top: 8px;
  line-height: 40px;
  display: inline-block;
}

.searchTabs .tab.active {
  background-color: #525357;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.buttons {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
}

.buttons .button {
  display: inline-block;
  border-radius: 5px;
}

.buttons .button:first-child {
  margin-right: 10px;
}

.buttons .button.buttonAbout {
  padding: 8px 20px;
  background-color: #7A7E83;
}

.buttons .button.buttonEnter {
  padding: 6px 20px;
  border: solid 2px #7A7E83;
}

.header .secondRow {
  display: flex;
  height: 72px;
  padding: 0 240px;
  align-items: center;
  justify-content: space-between;
  background-color: #525357;
}

.search {
  position: relative;
}

.search .searchIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
  background-image: url('search.svg');
}

.search .searchInput {
  display: inline-block;
  width: 595px;
  height: 48px;
  color: #404040;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 290px 0 40px;
  line-height: 48px;
  box-sizing: border-box;
}

.search .searchQuality {
  position: absolute;
  top: 0;
  right: 115px;
  height: 48px;
  display: inline-block;
  color: rgba(64,64,64,0.85);
  line-height: 48px;
  padding: 0 10px;
  opacity: 0.5;
  font-size: 10px;
  text-transform: uppercase;
}

.search .searchButton {
  position: absolute;
  top: 0;
  right: 0px;
  display: inline-block;
  color: #404040;
  width: 114px;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.header .secondRow .or {
  width: 48px;
  height: 48px;
  color: rgba(255,255,255,0.85);
  line-height: 48px;
  text-align: center;
  font-family: 'Geometria-Medium';
  font-size: 12px;
}

.header .secondRow .requestButton {
  display: inline-block;
  width: 270px;
  height: 48px;
  color: rgba(64,64,64,0.85);
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  border-radius: 3px;
  background: #E5E5E5;
  cursor: pointer;
}

#map {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* переопределение стилей mapbox-gl-js: контейнер попапа */
.mapboxgl-popup {
  padding-bottom:8px;
}

.mapboxgl-popup-content {
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  height:75px;
  width:70px;
  font-family: 'Geometria', sans-serif;
  -webkit-box-shadow:0px 5px 15px -3px rgba(0,0,0,0.4), 0px 4px 4px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.4), 0px 4px 4px -4px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.4), 0px 4px 4px -4px rgba(0,0,0,0.4);
}

.mapboxgl-popup-content > div {
  height:75px;
  width:70px;
}


.mapboxgl-popup-content .photo {
  height: 55px;
  width: 70px;
  min-width: 70px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  padding:0;
}

.mapboxgl-popup-content .title {
  height: 20px;
  width: 70px;
  min-width: 70px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: white;
  padding:0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-popup-content .title:after {
  content: "3.9";
  background: url('stars.svg') 3px 50% no-repeat;
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  bottom: 0px;
  color: black;
  font-weight: 300;
  text-indent: initial;
  white-space: normal;
  overflow: visible;
  text-align: right;
  padding: 0 4px;
}

.mapboxgl-popup-tip {
  display:none;
}

/* переопределение стилей mapbox-gl-js: хвостик */
/*
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #444;
  padding-bottom: 4px;
}
*/

/* контейнер фотографии и надписи */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* фотография */
.photo {
  display: block;
  width: 75px;
  height: 50px;
  padding: 4px;
  object-fit: cover;
  border-radius: 0px;
  background-color: #444;
}

/* надпись */
.title {
  display: block;
  color: #fff;
  padding: 2px 2px 8px;
  min-width: 80px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  background-color: #444;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
