body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 86px;
  font-family: 'Geometria', sans-serif;
}

.header .firstRow {
  display: flex;
  height: 32px;
  padding: 0 240px;
  align-items: center;
  justify-content: space-between;
  background-color: #63686E;
}

.logo {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  font-family: 'Geometria', sans-serif;
}

.searchTabs {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.searchTabs .tab {
  height: 24px;
  padding: 0 20px;
  margin-top: 8px;
  line-height: 24px;
  display: inline-block;
}

.searchTabs .tab.active {
  background-color: #525357;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.buttons {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
}

.buttons .button {
  display: inline-block;
  border-radius: 3px;
}

.buttons .button:first-child {
  margin-right: 10px;
}

.buttons .button.buttonAbout {
  padding: 4px 20px;
  background-color: #7A7E83;
}

.buttons .button.buttonEnter {
  padding: 2px 20px;
  border: solid 2px #7A7E83;
}

.header .secondRow {
  display: flex;
  height: 54px;
  padding: 0 240px;
  align-items: center;
  justify-content: space-between;
  background-color: #525357;
}

.search {
  position: relative;
}

.search .searchIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 12px;
  background-image: url('search.svg');
}

.search .searchInput {
  display: inline-block;
  width: 595px;
  height: 36px;
  color: #404040;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 290px 0 40px;
  line-height: 48px;
  box-sizing: border-box;
}

.search .searchQuality {
  position: absolute;
  top: 0;
  right: 115px;
  height: 36px;
  display: inline-block;
  color: rgba(64,64,64,0.85);
  line-height: 40px;
  padding: 0 10px;
  opacity: 0.5;
  font-size: 8px;
  text-transform: uppercase;
}

.search .searchButton {
  position: absolute;
  top: 0;
  right: 0px;
  display: inline-block;
  color: #404040;
  width: 114px;
  height: 36px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.header .secondRow .or {
  width: 48px;
  height: 36px;
  color: rgba(255,255,255,0.85);
  line-height: 36px;
  text-align: center;
  font-family: 'Geometria-Medium';
  font-size: 10px;
}

.header .secondRow .requestButton {
  display: inline-block;
  width: 270px;
  height: 36px;
  color: rgba(64,64,64,0.85);
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  background: #E5E5E5;
  cursor: pointer;
}

#card {
  position: absolute;
  top: 100px;
  left: -300px;
  width: 300px;
  height: 482px;
  cursor: pointer;
  border-radius: 3px;
  background-size: cover;
  background-image: url('card.png');
  transition: left ease-out 0.3s;
}

#list {
  position: absolute;
  top: 86px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: 'Geometria-Medium';
  background-color: #fff;
}

#filterContainer {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 300px;
  height: 460px;
  border-radius: 3px;
  background-color: #fff;
}

.filterTabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Geometria-Medium';
}

.filterTabs .filterTab {
  display: inline-block;
  color: #3F3333;
  opacity: 0.69;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filterTabs .filterTab.active {
  opacity: 1;
  border-bottom: solid #63686E 5px;
}

.priceFilter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.priceFilter .priceTitle {
  font-family: Geometria;
  font-size: 14px;
  color: #3F3333;
  margin-right: 10px;
}

.priceFilter .priceFilterButton {
  opacity: 0.69;
  background: #FFFFFF;
  border: 1px solid #525357;
  font-family: Geometria;
  font-size: 14px;
  color: #3F3333;
  padding: 6px 10px;
  cursor: pointer;
}

.priceFilter .priceFilterButton.active {
  color: #fff;
  opacity: 1;
  background: #525357;
}

.priceFilter .priceFilterButton.priceMinimum {
  border-radius: 3px 0px 0px 3px;
}

.priceFilter .priceFilterButton.pricePerHour {
  border-radius: 0px 3px 3px 0px;
}

.filtersPlaceholder {
  width: 280px;
  padding: 10px;
}

.moreFilters {
  padding: 20px;
  text-align: center;
}

.moreFiltersButton {
  display: inline-block;
  width: 120px;
  border: 1px solid #86878A;
  border-radius: 3px;
  font-family: Geometria;
  font-size: 14px;
  color: #3F3333;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

#map {
  position: absolute;
  top: 86px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* переопределение стилей mapbox-gl-js: контейнер попапа */
.mapboxgl-popup {
  padding-bottom:8px;
}

.mapboxgl-popup-content {
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  height:75px;
  width:70px;
  font-family: 'Geometria', sans-serif;
  -webkit-box-shadow:0px 5px 15px -3px rgba(0,0,0,0.4), 0px 4px 4px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.4), 0px 4px 4px -4px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.4), 0px 4px 4px -4px rgba(0,0,0,0.4);
}

.mapboxgl-popup-content > div {
  height:75px;
  width:70px;
}

.mapboxgl-popup-content .photo {
  height: 55px;
  width: 70px;
  min-width: 70px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  padding:0;
}

.mapboxgl-popup-content .title {
  color: #000;
  height: 20px;
  width: 70px;
  min-width: 70px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: white;
  padding:0;
  /*text-indent: 100%;*/
  white-space: nowrap;
  overflow: hidden;
}

/*.mapboxgl-popup-content .title:after {
  content: "3.9";
  background: url('stars.svg') 3px 50% no-repeat;
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  bottom: 0px;
  color: black;
  font-weight: 300;
  text-indent: initial;
  white-space: normal;
  overflow: visible;
  text-align: right;
  padding: 0 4px;
}*/

.mapboxgl-popup-tip {
  display:none;
}

/* переопределение стилей mapbox-gl-js: хвостик */
/*
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #444;
  padding-bottom: 4px;
}
*/

/* контейнер фотографии и надписи */
.popupContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* фотография */
.photo {
  display: block;
  width: 75px;
  height: 50px;
  padding: 4px;
  object-fit: cover;
  border-radius: 0px;
  background-color: #444;
}

/* надпись */
.title {
  display: block;
  color: #fff;
  padding: 2px 2px 8px;
  min-width: 80px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  background-color: #444;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.moneyRaitingSwitcher {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.listMapSwitcher {
  position: absolute;
  right: 20px;
  top: 100px;
}

.switcher {
  height: 36px;
  text-align: center;
  line-height: 36px;
}

.switcher .switcherButton {
  display: inline-block;
  padding: 0 20px;
  color: #3F3333;
  cursor: pointer;
  font-size: 14px;
  font-family: Geometria;
  line-height: 36px;
  border: 1px solid rgba(82, 83, 87, 0.70);
  background: #fff;
}

.switcher .switcherButton:first-child {
  border-radius: 3px 0px 0px 3px;
}

.switcher .switcherButton:last-child {
  border-radius: 0px 3px 3px 0px;
}

.switcher .switcherButton.active {
  color: #fff;
  background: #525357;
}

/*.switcher {
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  font-family: 'Geometria-Medium';
}

.switcher .switcherButton {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #525357;
  font-family: Geometria;
  font-size: 14px;
  color: #3F3333;
  cursor: pointer;
  border: 1px solid rgba(82,83,87,0.70);
}

.switcher .switcherButton.active {
  color: #fff;
  opacity: 1;
  background: #525357;
}

.switcher .switcherButton:first-child {
  border-radius: 3px 0px 0px 3px;
}

.switcher .switcherButton:last-child {
  border-radius: 0px 3px 3px 0px;
}*/